.container {
    text-align: center;
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(5, 1fr);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    border: none;
    outline: none;
    background-color: rgb(211, 211, 211);
    font-size: bold;
    height: 30px;
}

input[type="submit"] {
    background-color: #0000005b;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 0px 8px 1px rgb(32, 32, 32);
}
input[type="text"] {
    border-radius: 5px 0 0 5px;
}
input[type="submit"]:active {
    background-color: #fff;
    color: #000;
}

.hero {
    min-height: 500px;
    background-position: top center;
    background-size: contain;
}
