*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    margin: 0;
    box-sizing: border-box;
    background: #050501;
}
body {
    box-sizing: border-box;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #b8b8b8;
    background: #050501;
    margin: 0 150px
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
